@import "tailwindcss";

:root {
  --hueso: #E8E3DE;
  --violeta: #9444B6;
  --lila: #C5A2D4;
  --gris1: #BFBFBD;
  --gris2: #8C8C8A;
  --gris3: #595957;
  --gris4: #40403E;
}


body {
  background-color: #39737e;
}